.rooms{
    display: flex;
    /* background-color: red; */
    text-align: left;
    padding: 10px;
}

.list-room{
    flex: 0.7;
    /* background-color: aquamarine; */
    padding: 10px;
    border-right: 1px #888888 solid;
}

.list-room button{
    margin-top: 10px;
    background-color: #cbcaca;
    padding: 5px 10px;
}

.list-room ul li{
    padding: 10px;
}

.list-room button:hover{
    transform: translateY(-1px);
    background-color: #fff;
}

.list-room ul li:hover{
    transform: translateY(-1px);
    background-color: rgba(255, 255, 255, 0.2);
}

.main-room{
    flex: 3;
    padding: 10px;
    margin-left: 20px;
}

.detail-room p{
    margin: 0;
}

.create-room label{
    width: 150px;
}

.info-room{
    padding: 10px;
    background-color: var(--bg-post);
    border-radius: 10px;
    margin-bottom: 5px;
}

.info-room h3{
    text-align: center;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-around p{
    width: 200px;
    margin-bottom: 15px;
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.description-room{
    margin: 10px 70px;
    /* margin-bottom: 0px; */
}

.mb5{
    margin-bottom: 5px;
}

.container-lu{
    display: flex;
    margin-top: 20px;
}

.list-room_user li{
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}

.list-room_user li:hover{
    background-color: var(--bg-post);
}

.card-user{
    display: flex;
    align-items: center;
}

.find-user{
    padding: 10px;
}

.find-user{
    outline: none;
    border: 1px #888888 solid;
    color: #dedede;
    background: none;
    padding: 10px;
    width: 400px;
}

.find-user:focus{
    color: #fff;
    border: 1px solid #fff;
}

.find-list{
    max-height: 300px;
    width: 400px;
    overflow-y: scroll;
}

.find-list::-webkit-scrollbar{
    display: none;
}

.list-u{
    /* margin: 5px 20px; */
    width: 400px;
}

.add-user{
    margin-left: auto;
    width: 420px;
}

/* update */

.input-room_update input{
    outline: none;
    border: 1px #888888 solid;
    color: #dedede;
    background: none;
    padding: 10px;
    width: 400px;
    margin-bottom: 10px;
}

.input-room_update input:focus{
    color: #fff;
    border: 1px solid #fff;
}

.wifi{
    display: flex;
}

.wifi div{
    margin-right: 15px;
}

.contract h4{
    color: aqua;
}

.contract p{
    color: #dddcdc;
}